*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  background: white;
  padding: 0 10px;
}

main {
  max-width: 300px;
  height: 700px;
  margin: 200px auto 0;
  border-radius: 50% / 100px; /* Rayon asymétrique pour créer les demi-ronds en haut et en bas */
  padding: 30px 10px 0px;
  background-color: #d6ecf6;
  color: black;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 4px solid transparent; /* Bordure invisible par défaut */
  box-shadow: none; /* Pas d'ombre au départ */
  transition: box-shadow 0.3s ease, border-color 0.3s ease; /* Animation fluide */
}


main:hover {
  border-color: transparent; /* Gardez la bordure transparente */
  box-shadow: 0 0 0 5px rgba(0, 128, 255, 0.7); /* Simule une bordure colorée */
}


.city-name {
  padding-top: 30px;
  font-size: 32px;
  text-decoration-line: underline;
  text-decoration-style: wavy; 
  text-decoration-color: rgb(88, 142, 187); 
}

.country-name {
  font-size: 24px;
  font-style: italic;
}

.temperature {
  font-size: 36px;
  color: darkgray;
  font-weight: bold;
  padding: 10px;
}

.info-icon {
  display: block;
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

.loader-container {
  background-color: #e5f0f5;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s ease-out, opacity 0.4s ease-out;
}

.loader-container.active {
  visibility: visible;
  opacity: 1;
}

.error-information {
  margin-bottom: 20px;
}



.label {
  color: blue; /* Couleur pour le label */
   font-weight: bold; /* Exemple pour mettre le texte en gras */
   font-size: 1rem;
   font-weight: bold;
   margin: 0.5rem 0;
}

.value {
  color: green; /* Couleur pour le résultat */
  font-style: italic; /* Exemple pour mettre le texte en italique */
}

p {
  margin: 10px;
}